<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>

<!--sonradan eklendi-->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ post.title }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ post.url }}</title>
<meta name="author" content="" />
<link href="{{ page.url }}/feed.xml" rel="alternate" title="" type="application/atom+xml" />
<meta name="author" content="" />
<link href="{{ post.url }}/feed.xml" rel="alternate" title="" type="application/atom+xml" />
<meta name="author" content="" />
<link href="{{ site.url }}/feed.xml" rel="alternate" title="" type="application/atom+xml" />
<meta name="readability-verification" content="e3fb0316180ffe5e0e35411b93161b5083c1b0e7"/>
<!--sonradan eklendi-->

{% include _head.html %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/ideal-image-slider.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/themes/default/default.css">
<script src="{{ site.url }}/assets/js/plugins/ideal-image-slider.js"></script>
<script src="{{ site.url }}/assets/js/plugins/iis-captions.js"></script>
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}
{% assign total = 5 | minus: site.data.featured.size %}

  <div id="slider" class="image-wrap">
  {% for post in site.data.featured %}
    <a href="{{ post.url }}"> <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
  {% endfor %}
  {% for post in site.posts limit:total %}   
    <a href="{{ post.url }}"> <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
  {% endfor %}
  </div><!-- /.image-wrap -->

<div id="main" role="main">
  <div id="index">

    {% include _main-tiles.html %}

    {% include _social-tiles.html %}

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
<script>
  var slider = new IdealImageSlider.Slider({
    selector: '#slider',
    interval: 4000,
  });
  slider.addCaptions();
  slider.start();
</script>

<!-- Google Analytics sonradan eklendi-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "https://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end sonradan eklendi-->  

</body>
</html>
